<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<main>
			<span class="statusbar"></span>
			<!-- Wrap all page content here -->
			<div id="wrap">
				<div id="body" class="container">
					<div class="row row-offcanvas row-offcanvas-left">
						<!-- side navigation -->
						{% include navbar.html %}
						<!-- Content -->
						<div class="col-md-10">
							{% include site-headnav.html %}
							{{ content }}
						</div>
					</div>
				</div>
				{% include footer.html %}
			</div>
		</main>
	<script src="//s3.pstatp.com/cdn/expire-1-M/timeago.js/3.0.2/timeago.min.js"></script>
	{% include site-scripts.html %}
	</body>
</html>